@model List<GroupViewModel>

@{int counter = 0;}

@foreach(var group in Model) {
    <section>
        @group.GroupName <a asp-controller="Groups" asp-action="Edit" asp-route-id=@counter>Edit</a>
        <form asp-controller="Groups" asp-action="Delete" asp-route-itemid=@counter method="post"><button>X</button></form>
        @{counter++;}
    </section>
}
<a asp-controller="Groups" asp-action="Create">Create</a>